rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to access their own data
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Rules for library templates
    match /library_templates/{templateId} {
      // Allow all authenticated users to read templates
      allow read: if request.auth != null;
      // Allow only the ROOT user to create, update, and delete templates
      allow write: if request.auth != null && request.auth.token.email == 'root@root.com';
    }
  }
}
